# https://pnpm.io/npmrc#use-node-version
# `pnpm node -v` + `pnpm npm -v` vs. `node -v` + `npm -v`
use-node-version=16.13.2
# More info:
# https://docs.npmjs.com/cli/v8/using-npm/config#legacy-peer-deps
# https://stackoverflow.com/a/66620869
# legacy-peer-deps=true
